article{
    background-color:red;
    margin: 50px auto;
    width:700px;
    text-align:right;
}



.box{
    border:1px dotted blueviolet;
}

.bigbox{
    border:10px dotted blueviolet;
}



header{
    font-weight:bold;
    display:block;
    background-color:blue;

}

p{
    display:inline;
    background-color:green;
}

p:last-child{

    display:block;
    background-color:yellow;
}

body{
 background-color:coral;

}
h1{
    font-weight:bold;
    color: pink;
}